.contextMenu {
  position: fixed;
  background-color: #1e1e1e;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 120px;
  padding: 4px 0;
}

.menuItem {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #3a3a3a;
}

.iconStar { color: #ffcc00; }
.iconPen { color: #ffffff; }
.iconTrash { color: #ff4444; }

.tableRow {
  display: grid;
  grid-template-columns: 2.5fr 2fr 2fr 1fr 2fr 2fr;
  padding: 12px;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: relative;
}

.tableRow > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.tableRow > div:first-child {
  justify-content: flex-start;
  color: black
}

.star {
  margin-left: 5px;
  color: gold;
  font-size: 1.2em;
  vertical-align: middle;
}
/* ------------------------------------------------------- */
